@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

html{
    height:100%;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background:#36465d;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#212529;
}


.navbar-light{
    background: #36465d !important;
    border-bottom:2px solid #727e8e;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white !important;
}

.btn-search{
    background-color: #db6f57;
}

.fa-search{
    color:white;
}

.sign-out,.logged-username{
    color: white !important;
    font-weight: bold;
}
.logged-username{
    border-right:2px ridge #db6f57;;
}

.btn-search:hover{
    background-color:#56bc8a !important;
    cursor: pointer;
}

.fa-globe-americas,.fa-home{
    font-size: 32px;
    color: black;
}
.fa-globe-americas:hover,.fa-home:hover,.sign-out:hover,.logged-username:hover{
    color:#56bc8a !important;
    cursor: pointer; 
}

/* dashboard */
.profile-div{
    background: rgba(0,0,0,.13) !important;
    color:beige;
}

.name-style{
    font-style: italic;
    text-transform: uppercase;
}


.single-post{
    background: rgba(0,0,0,.13);
    padding:10px;
    border-radius:10px;
    margin-bottom:5px;
}

.div-header{
    color:#a77dc2;;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
}

/* .form-control{
    background: rgba(0,0,0,.13) !important;
} */

.custom{
    background: whitesmoke !important;
}


.edit-about:hover{
    color:#56bc8a;
    cursor: pointer;
}


.make-post-btn:hover{
   
    color:#56bc8a;
    cursor: pointer;
}

.bio{
    font-style: italic;
}

.post{
    border-radius:10px;
    padding:20px;
}

.post-div{
   background: rgba(0,0,0,.13) !important;
   padding:20px;
   border-radius:10px;
}

.header-post{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    color:white;
    background: #db6f57;
    border-radius: 20px;
    padding:10px;
}

.additional-div{
   font-style: italic;
   color:#db6f57;
}

.btn-publish{
    background:darkcyan;
    color:white;
    padding:10px;
    padding-left:20px;
    padding-right: 20px;
    border-radius:15px;
}


.right{
    background: rgba(0,0,0,.13) !important;
    border-radius:10px;
    padding:30px;
    padding-top:10px;
    margin-bottom:10px;
}


.post-title-anchor{
    color: black;
}

.thumbnail{
    max-height: 50px;
    max-width: 50px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    float: left;
}

.username{
    float: left;
}

.post-title-anchor{
    color: beige;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 18px;
}

.post-title-anchor:hover,.author-anchor{
    color:#56bc8a;
    text-decoration:none !important;
}

/* view post css */

.post-data-div{
    background-color: gainsboro;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    margin-top:10px;
    word-wrap: break-word;
}
.post-image{
    max-height:400px;
    border-radius: 5px;
}

#post-title{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color:beige;
}

#post-body{
    font-size:16px;
}

.post-creator-image{
    height: 120px;
    width: 120px;
    max-height:100%;
}

.post-creator-image:hover{
    border:2px solid salmon;
}

.author-anchor{
    color:#db6f57;
}

input:disabled{
    background: #36465d !important;
}

.r{
    color:red;
}

.wrapper{
    display: inline-block;
    position:relative;
}

.wrapper:hover{
    cursor: pointer;
}
 
.small-img{
    position:absolute;
    right: 35%;
    bottom: 30%;
    display: none;
  }

  input[type="file"]{
     overflow: hidden;
  }

  